:root {
    --small-font-size: 1rem;
    --normal-font-size: 1.3rem;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.login {
    position: relative;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
    color: #f0f0ff;
    font-family: khmer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    position: relative;
    width: 50vh;
    height: auto;
    box-shadow: #58a849 0 0 10px 0;
    padding: 2.5rem 1.5rem;
    border-radius: 2rem;
    backdrop-filter: blur(10px);
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

.input-field {
    position: relative; 
}

i {
    font-size: 1.5rem;
    position: absolute;
}

.input-field input {
    width: 100%;
    padding: 12px; 
    background: none;
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 0.75rem;
    font-size: var(--normal-font-size);
    border-bottom: 1px solid hsl(0, 0%, 100%);
    box-sizing: border-box;
    position: relative;
    inset: 0;
    outline: none;
    z-index: 1;
}

.input-field label {
    position: absolute;
    left: 25px;
    top: 9px;
    color: #e3dcdc;
    font-size: var(--normal-font-size);
    transition: top 0.3s, font-size 0.3s;
}

.input-field i {
    top: 12px; 
}

.input-field i.eye {
    right: 0px;
}

input:focus+label,
.input-field input:not(:placeholder-shown)+label {
    top: -15px;
    font-size: var(--small-font-size);
}

.check-group,
.check-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--small-font-size);
}

input[type="checkbox"] {
    accent-color: #141313;
    transform: scale(1.2);
    margin-right: 5px;
}

a {
    color: #973232;
    text-decoration: none;

}

.login-title {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    color: #141313;
    font-size: var(--normal-font-size);
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-align: center;
    margin: auto;
    transition: background-color 0.5s ease;
    /* box-shadow: 2px 2px 2px 2px rgba(3, 229, 89, 0.2); */
    box-shadow: 0 0 10px 0 #58a849;
} 
/* .login-title {
    width: 100%;
    
    padding: 1rem;
    border-radius: .5rem;
    background-color: #f41d1d;
    color: #141313;
    font-size: var(--normal-font-size);
    cursor: pointer;
    border: none;
} */

p {
    text-align: center;
}

.input-field input[type="password"] {
    width: 100%;
    padding: 12px;
    background: none;
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 0.75rem;
    font-size: var(--normal-font-size);
    border-bottom: 1px solid hsl(0, 0%, 100%);
    box-sizing: border-box;
    position: relative;
    inset: 0;
    outline: none;
    z-index: 1;
}

.login-title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px 0;
    transition: background-color 0.5s ease;
    padding: 10px;
    border-radius: 18px;
}

.login-title:hover {
    background-color: #28bb28;
}
.input-field input::placeholder {
    text-align: right; 
    padding-right: 10px; 
    color:#1a1919
}